<div *ngIf="!aiSidekick" class="widget" id="widget"  (window:scroll)="onScroll($event)">
<iframe frameborder="0" scrolling="no" allowtransparency="true" src="/app/fe-core/ads/widget1.html" [ngStyle]="{'display': 'block', 'height': '600px','width': '300px','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}" ></iframe>
</div>
<div *ngIf="aiSidekick" class="widget" id="widget"  (window:scroll)="onScroll($event)">
  <iframe *ngIf="isProSport" frameborder="0" scrolling="no" allowtransparency="true" src="/app/fe-core/ads/aiSidekickNFL.html" [ngStyle]="{'display': 'block', 'height': '600px','width': '300px','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}" ></iframe>
  <iframe *ngIf="!isProSport" frameborder="0" scrolling="no" allowtransparency="true" src="/app/fe-core/ads/aiSidekickNCAAF.html" [ngStyle]="{'display': 'block', 'height': '600px','width': '300px','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}" ></iframe>
</div>
