<section *ngIf="scopeDisplayed">
  <div class="ss_container container-fluid">
    <div class="ss_title row">
      <span *ngIf="scopeDisplayed.scope" class="ss_title-2 col-xs-4"><i class="fa fa-tdl-football"></i>{{scopeDisplayed.scope}}</span>
      <span class="col-xs-8 floatRight ss_title-buttons">
        <div class="container-fluid">
          <div class="ss_title-container row">
            <span class="ss_title-1" [class.ss-title-active]="scope.toUpperCase() == _collegeDivisionFullAbbrv || scope.toUpperCase() == _collegeDivisionAbbrv" (click)="scopeChange(_collegeDivisionFullAbbrv)">{{_collegeDivisionFullAbbrv.toUpperCase()}}</span>
            <span class="ss_title-1 " [class.ss-title-active]="scope.toUpperCase() == _sportLeagueAbbrv" (click)="scopeChange(_sportLeagueAbbrv)">{{_sportLeagueAbbrv.toUpperCase()}}</span>
            <span class="ss_title-1" [class.ss-title-active]="scope.toUpperCase() == 'HOME'" (click)="scopeChange('home')">ALL</span>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div *ngIf="scopeDisplayed.text" class="ss_subTitle">
      <div class="ss_title-2 row"><i class="fa fa-calendar"></i>{{scopeDisplayed.text}}</div>
  </div>
  <side-scroll *ngIf="sideScrollData" (carouselCount)="counter($event)" [current]="curCount" [maxLength]="scrollLength" [data]="sideScrollData">
    <template ngFor let-item [ngForOf]="sideScrollData">
      <schedule-box *ngIf="item" [topScope]="topScope" [scope]="scope" [boxData]="item"></schedule-box>
    </template>
  </side-scroll>
</section>
