<sidekick-wrapper>
  <section class="page page-module-container" (window:scroll)="onScroll($event)">
    <backtab-component></backtab-component>
    <title-component *ngIf="titleData" [titleData]="titleData"></title-component>
    <loading-component *ngIf="!detailedDataArray && !isError"></loading-component>
    <error-component *ngIf="isError"></error-component>
    <div class="mod-info">
    <slider-carousel *ngIf="carouselDataArray.length > 0" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    </div>
    <div class="atborder" *ngIf="detailedDataArray.length > 0">
      <list-of-lists-item *ngFor="let itemData of detailedDataArray; let rowIndex = index" [item] = 'itemData' [rowIndex] = 'rowIndex'></list-of-lists-item>
    </div>
    <div class="lol_loadmore">
      <load-more-button *ngIf="showLoading"></load-more-button>
    </div>
    <!-- <pagination-fos[paginationParameters]="paginationParameters"></pagination-footer> -->
    <no-data-box *ngIf="!detailedDataArray && errorData" [data]="errorData"></no-data-box>
    <responsive-widget *ngIf="paginationParameters" embedPlace="widgetForPage"></responsive-widget>
  </section>
</sidekick-wrapper>
