/*--GLOBALS--*/
@import 'gFont.css';
@import "tdl-font.css";
@import "libraries.less";
@import "bootstrap.less";
@import "base.less";
@import "components.less";
@import "modules.less";
/*--END GLOBALS--*/



/*--PAGES--*/
@webpagePath: "../../webpages";
@import "@{webpagePath}/about-us-page/about-us.page.less";
@import "@{webpagePath}/article-pages/article-pages.page.less";
@import "@{webpagePath}/deep-dive-page/deep-dive.page.less";
@import "@{webpagePath}/directory-page/directory.page.less";
@import "@{webpagePath}/disclaimer-page/disclaimer.page.less";
@import "@{webpagePath}/disclaimer-page/disclaimer.page.less";
@import "@{webpagePath}/draft-history-page/draft-history.page.less";
@import "@{webpagePath}/error-page/error-page.page.less";
@import "@{webpagePath}/pickateam-page/pickateam.page.less";
@import "@{webpagePath}/league-page/league.page.less";
@import "@{webpagePath}/list-page/list.page.less";
@import "@{webpagePath}/mvp-list-page/mvp-list.page.less";
@import "@{webpagePath}/partner-home-page/partner-home.page.less";
@import "@{webpagePath}/player-page/player.page.less";
@import "@{webpagePath}/player-stats-page/player-stats.page.less";
@import "@{webpagePath}/standings-page/standings.page.less";
@import "@{webpagePath}/team-page/team.page.less";
@import "@{webpagePath}/transactions-page/transactions.page.less";
/*--END PAGES--*/



/*--MODULES---*/
@modulePath: "../../fe-core/modules";
@import "@{modulePath}/article-stack/article-stack.module.less";
@import "@{modulePath}/article-stack-style-1/article-stack.module.less";
@import "@{modulePath}/article-stack-style-2/article-stack.module.less";
@import "@{modulePath}/articles/articles.module.less";
@import "@{modulePath}/box-scores/box-scores.module.less";
@import "@{modulePath}/carousel-dive/carousel-dive.module.less";
@import "@{modulePath}/comment/comment.module.less";
@import "@{modulePath}/comparison/comparison.module.less";
@import "@{modulePath}/daily-update/daily-update.module.less";
@import "@{modulePath}/deep-dive-recommendation/deep-dive-recommendation.module.less";
@import "@{modulePath}/directory/directory.module.less";
@import "@{modulePath}/draft-history/draft-history.module.less";
@import "@{modulePath}/dyk/dyk.module.less";
@import "@{modulePath}/fantasy/fantasy.module.less";
@import "@{modulePath}/faq/faq.module.less";
@import "@{modulePath}/list-of-lists/list-of-lists.module.less";
@import "@{modulePath}/mvp/mvp.module.less";
@import "@{modulePath}/news/news.module.less";
@import "@{modulePath}/player-stats/player-stats.module.less";
@import "@{modulePath}/profile-header/profile-header.module.less";
@import "@{modulePath}/search-article-results/search-article-results.module.less";
@import "@{modulePath}/search-box-module/search-box-module.module.less";
@import "@{modulePath}/search-page-filter/search-page-filter.module.less";
@import "@{modulePath}/season-stats/season-stats.module.less";
@import "@{modulePath}/standings/standings.module.less";
@import "@{modulePath}/team-roster/team-roster.module.less";
@import "@{modulePath}/tile-stack/tile-stack.module.less";
@import "@{modulePath}/twitter/twitter.module.less";
@import "@{modulePath}/video/video.module.less";
@import "@{modulePath}/video-deep-dive/video-deep-dive.module.less";
/*--END MODULES--*/




/*--COMPONENTS--*/
@componentPath: "../../fe-core/components";
@import "@{componentPath}/article-block/article-block.component.less";
@import "@{componentPath}/article-stacktop/article-stacktop.component.less";
@import "@{componentPath}/articles/article-content/article-content.component.less";
@import "@{componentPath}/articles/article-schedule/article-schedule.component.less";
@import "@{componentPath}/articles/billboard/billboard.component.less";
@import "@{componentPath}/articles/disqus/disqus.component.less";
@import "@{componentPath}/articles/main-article/main-article.component.less";
@import "@{componentPath}/articles/profile-data/profile-data.component.less";
@import "@{componentPath}/articles/recommendations/recommendations.component.less";
@import "@{componentPath}/articles/share-links/share-links.component.less";
@import "@{componentPath}/articles/sidekick-container/sidekick-container.component.less";
@import "@{componentPath}/articles/sub-article/sub-article.component.less";
@import "@{componentPath}/articles/trending/trending.component.less";
@import "@{componentPath}/backtab/backtab.component.less";
@import "@{componentPath}/box-article/box-article.component.less";
@import "@{componentPath}/buttons/circle/circle.button.less";
@import "@{componentPath}/carousels/calendar/calendar-carousel.component.less";
@import "@{componentPath}/carousels/images-media-carousel/images-media-carousel.component.less";
@import "@{componentPath}/carousels/schedules-carousel/schedules-carousel.component.less";
@import "@{componentPath}/carousels/side-scroll/side-scroll.component.less";
@import "@{componentPath}/carousels/slider-carousel/slider-carousel.component.less";
@import "@{componentPath}/carousels/carousel.component.less";
@import "@{componentPath}/comparison-bar/comparison-bar.component.less";
@import "@{componentPath}/comparison-legend/comparison-legend.component.less";
@import "@{componentPath}/contactus/contactus.component.less";
@import "@{componentPath}/custom-table/custom-table.component.less";
@import "@{componentPath}/custom-table/sort-dropdown.component.less";
@import "@{componentPath}/date-picker/date-picker.less";
@import "@{componentPath}/detailed-list-item/detailed-list-item.component.less";
@import "@{componentPath}/disqus/disqus.component.less";
@import "@{componentPath}/draft-history/draft-history.component.less";
@import "@{componentPath}/dropdown/dropdown.component.less";
@import "@{componentPath}/dropdown-directory/dropdown-directory.component.less";
@import "@{componentPath}/error/error.component.less";
@import "@{componentPath}/game-article/game-article.component.less";
@import "@{componentPath}/game-info/game-info.component.less";
@import "@{componentPath}/glossary/glossary.component.less";
@import "@{componentPath}/images/circle-image/circle-image.less";
@import "@{componentPath}/input-bar/input-bar.component.less";
@import "@{componentPath}/larousel/larousel.less";
@import "@{componentPath}/line-chart/line-chart.component.less";
@import "@{componentPath}/list-of-lists-item/list-of-lists-item.component.less";
@import "@{componentPath}/load-more-button/load-more-button.component.less";
@import "@{componentPath}/loading/loading.component.less";
@import "@{componentPath}/module-footer/module-footer.less";
@import "@{componentPath}/module-header/module-header.component.less";
@import "@{componentPath}/mvp-list/mvp-list.component.less";
@import "@{componentPath}/news-box/news-box.less";
@import "@{componentPath}/page-information/page-information.component.less";
@import "@{componentPath}/pagination-footer/pagination-footer.component.less";
@import "@{componentPath}/player-stats/player-stats.component.less";
@import "@{componentPath}/roster/roster.component.less";
@import "@{componentPath}/schedule-box/schedule-box.component.less";
@import "@{componentPath}/schedules/schedules.component.less";
@import "@{componentPath}/score-board/score-board.component.less";
@import "@{componentPath}/scrollable-content/scrollable-content.component.less";
@import "@{componentPath}/search-bar-article/search-bar-article.component.less";
@import "@{componentPath}/search-results-component/search-results-component.component.less";
@import "@{componentPath}/season-stats/season-stats.component.less";
@import "@{componentPath}/section-name/section-name.component.less";
@import "@{componentPath}/sidekick-wrapper/sidekick-wrapper.less";
@import "@{componentPath}/sidekick-wrapper/sidekick-wrapper-ai.component.less";
@import "@{componentPath}/stack-rows/stack-rows.component.less";
@import "@{componentPath}/standings/standings.component.less";
@import "@{componentPath}/tabs/tabs.component.less";
@import "@{componentPath}/title/title.component.less";
@import "@{componentPath}/transactions/transactions.component.less";
@import "@{componentPath}/transactions-list-item/transactions-list-item.component.less";
@import "@{componentPath}/video-stack/video-stack.component.less";
/*-END COMPONENTS--*/
