<sidekick-wrapper>
<section class="page profile-container team-page">
  <loading-component *ngIf="!profileHeaderData && !hasError"></loading-component>
  <error-component *ngIf="hasError"></error-component>
  <div *ngIf="profileHeaderData && pageParams">
    <!-- <headline-component [title]="'About the ' + profileHeaderData.profileName"></headline-component> -->
    <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
    <daily-update-module [profileName]="profileHeaderData.profileTitleFirstPart + ' ' + profileHeaderData.profileTitleLastPart" [data]="dailyUpdateData"></daily-update-module>
    <responsive-widget *ngIf="dailyUpdateData" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
    <comparison-module [modelData]="comparisonModuleData" [profileName]="profileHeaderData.profileName" [profileType]="'team'" [profileId]="pageParams.teamId"></comparison-module>
    <!-- <headline-component [title]="'Other MLB Content You May Love'"></headline-component> -->
  </div>
</section>
</sidekick-wrapper>
