<header class="header container-fluid" id="pageHeader" [class.fixedHeader]="scrollUp" (window:scroll)="onScrollStick($event)" (window:resize)="menuCheck($event)">
  <div id="partner" *ngIf="partnerID && partnerScript" [innerHTML]="partnerScript | safeHtml"></div>
  <section class="scrollUp && header-top" [class.header-partner]="partnerID">
    <div class="header-left">
      <div class="header-hamburger" tabindex="999">
        <!-- menucheck class is for the document click funtion to determine to close it when in view -->
        <div class="header-hamburger menucheck" (click)="getMenu($event)">
          <i *ngIf="!isOpened" class="fa fa-bars"></i>
          <i *ngIf="isOpened" class="fa fa-remove menucheck"></i>
          <div *ngIf="isOpened" class="header-hamburger-dropDown">
            <hamburger-menu-component [partnerID]="partnerID" *ngIf="scope" [scope]="scope"></hamburger-menu-component>
          </div>
        </div>
      </div>

      <div *ngIf="!partnerID" class="main-logo">
        <a [routerLink]="linkHome"><img src={{logoUrl}} alt="TouchdownLoyal Logo" /></a>
      </div>
      <div *ngIf="partnerID" class="header-logo">
        <a [routerLink]="linkHome"><img src={{partnerLogoUrl}} alt="Football Logo" /></a>
      </div>
    </div>
    <div class="header-right">
      <div class="header-share st_sharethis_large"><i class="fa fa-share-alt"></i></div>
      <!-- <div class="header-search searchcheck" [class.active]="isSearchOpened">
        <div class="header-search-searchBtn searchcheck" [class.active]="isSearchOpened" (keydown)="searchKeydown($event)" (click)="openSearch($event)">
          <i class="fa fa-search searchcheck" [class.fa-search]="!isSearchOpened" [class.fa-icon-x]="isSearchOpened"></i>
        </div>
        <div class="header-search-searchBox searchcheck"><search [searchInput]="searchInput"></search></div>
      </div> -->
    </div>
  </section>
  <div id="header-bottom" class="header-bottom" [style.top]="_stickyHeader">
    <div id="salad-bar"></div>
  </div>
</header>
