.ps-page {

  .widgetForPage{
    height: 270px;
  }

  .stats .pane{
    .widgetWrapper{
      padding-top: 20px;
    }

    .widgetForPage{
      padding: 0px;
      height:290px;
    }
    @media @mobile {


    }
  }
}