.ps-page {

  .stats .pane{
    .widgetWrapper{
      padding-top: 20px;
    }
    .custom-table{
      border-bottom: 1px solid @strokeGrey;
    }
    .widgetForPage{
      padding: 0px;
      height:290px;
    }
    @media @mobile {


    }
  }
}