<sidekick-wrapper>
<section class="page profile-container player-page" (window:scroll)="onScroll($event)">
    <loading-component *ngIf="!profileHeaderData && !hasError"></loading-component>
    <error-component *ngIf="hasError"></error-component>
    <div *ngIf="profileHeaderData">

        <div class="loadBatch1">
          <profile-header
            *ngIf="profileHeaderData"
            [profileHeaderData]="profileHeaderData"
            [profileType]="'player'"></profile-header>
          <daily-update-module
            *ngIf="dailyUpdateData"
            [profileName]="profileHeaderData.profileTitleFirstPart + ' ' + profileHeaderData.profileTitleLastPart"
            [imageConfig]="imageConfig"
            [data]="dailyUpdateData"></daily-update-module>
        </div><!--loadBatch1-->

        <div class="loadBatch2">
          <fantasy-module
            [fantasyData]="fantasyData"
            [fantasyDate]="fantasyDate"
            [profHeader]="profileHeaderData"></fantasy-module>
        </div> <!--loadBatch2-->

    </div>
</section>
</sidekick-wrapper>
