<div class="articles-page">
    <div class="articles-page-content">
      <div *ngIf="error">
          <div class="loading-container">
              <span class="loading-text">The article you are trying to reach is unavailable. You will be redirected to your previous page shortly.</span>
          </div>
      </div>
      <loading-component *ngIf="!articleData && !error"></loading-component>
      <span *ngIf="articleData">
          <shareLinks-component *ngIf="articleData.articleUrl" [shareUrl]="articleData.articleUrl"></shareLinks-component>
          <shareLinks-component *ngIf="articleData.videoLink" [shareUrl]="articleData.videoLink"></shareLinks-component>
          <h1 class="articles-page-title" [innerHTML]="articleData.title | safeHtml"></h1>
          <sidekick-wrapper-ai [aiSidekick]="aiSidekick" [scope]="scope">
            <span>
                <div class="carousel-container" *ngIf="articleType == 'story'">
                  <images-media-carousel [imageData]="imageData" [copyright]="copyright"
                                         [imageTitle]="imageTitle"></images-media-carousel>
                </div>
            </span>
              <div class="videoFrame" *ngIf="articleType == 'video'">
                <iframe *ngIf="iframeUrl" width="100%" height="100%"  [src]="iframeUrl | safeRUrl" frameborder="0" allowfullscreen></iframe>
              </div>

              <section class="articles-page-container row">
                <div class="arpt col-xs-12 col-lg-9">
                  <div class="arpt-main-article">
                    <section class="arpt-info">
                      <div class="arpt-author" *ngIf="articleType == 'story'" >Written By: <span class="text-master" [innerHTML]="articleData.publisher | safeHtml"></span></div>
                      <div class="arpt-date">Posted on: <span class="upper-case" [innerHTML]="articleData.publishedDate | safeHtml"></span></div>
                    </section>

                    <div class="content-exerpt" *ngIf="articleType == 'story'"  [innerHTML]="articleData.teaser | safeHtml">
                    </div>
                    <div class="content-exerpt" *ngIf="articleType == 'video'"  [innerHTML]="articleData.description | safeHtml">
                    </div>
                    <div class="bottom-shader" *ngIf="articleType == 'story'"></div>
                    <a *ngIf="articleType == 'story'" class="mod-page-btn readMore" [href]="articleData.articleUrl" target="_blank">Read the Full Article <i class="fa fa-arrow-right"></i></a>
                    <div [ngStyle]="{width: '100%', height:'5px','display':'block'}"></div>
                  </div>
                    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
                    <recommendations-component [randomHeadlines]="recomendationData"></recommendations-component>
                    <trending-component [currentArticleId]="articleData.id" [scope]="scope"></trending-component>
                </div>

                <div class="vertical-widget col-lg-3">
                    <widget-module [aiSidekick]="aiSidekick" [syndicated]="syndicated" [scope]="scope"></widget-module>
                </div>
            </section>
          </sidekick-wrapper-ai>
      </span>
    </div>
</div>
