<sidekick-wrapper>
  <section class="page profile-container league-page" (window:scroll)="onScroll()">
    <div *ngIf="profileHeaderData">
      <loading-component *ngIf="!profileHeaderData && !hasError"></loading-component>
      <error-component *ngIf="hasError"></error-component>
      <div *ngIf="profileHeaderData">
        <div class="loadBatch1" *ngIf="batchLoadIndex >= 1">
          <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
        </div> <!--loadBatch1-->

        <div class="loadBatch2">
          <!-- <video-module *ngIf="videoData" [firstVideo]="firstVideo" [videoData]="videoData" [profileHeader]="profileHeaderData" [isProfilePage]="isProfilePage"></video-module> -->
        </div> <!--loadBatch2-->
      </div>
    </div>
  </section> <!--profile-container-->
</sidekick-wrapper>
