<div *ngIf="data" class="dir-pag row">
  <div *ngIf="dirRangeTotal" class="col-sm-6 dir-pag-text">
    <span class="dir-pag-text-lbl">Showing:</span>
    <span class="text-heavy">{{data.rangeText}}</span> of
    <span class="text-heavy">{{data.totalItems}}</span>
    {{data.description}}
  </div>
  <!-- TODO -->
  <div *ngIf="dirPagination && enableNext" class="col-sm-6 dir-pag-buttons">
    <div>
      <a [routerLink]="reverseLink.route" class="dir-pag-skip"
       [class.dir-pag-skip-active]="enableRevr"
       [class.dir-pag-skip-disabled]="!enableRevr">
          <i class="fa fa-angle-left"></i>
      </a>
      <a [routerLink]="prevLink.route" class="dir-pag-button"
       [class.dir-pag-button-active]="enablePrev"
       [class.dir-pag-button-disabled]="!enablePrev">
          <i class="fa fa-angle-left"></i>
      </a>
    </div>
    <div>
      <a [routerLink]="nextLink.route" class="dir-pag-button"
       [class.dir-pag-button-active]="enableNext"
       [class.dir-pag-button-disabled]="!enableNext">
          <i class="fa fa-angle-right"></i>
      </a>
      <a [routerLink]="fastFowardLink.route" class="dir-pag-skip"
      [class.dir-pag-skip-active]="enableFwd"
      [class.dir-pag-skip-disabled]="!enableFwd">
          <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
