<footer class="footer container-fluid">
    <section class="footer-top row">
      <div class="footer-top-container col-xs-6 col-md-2">
        <a *ngIf="!partner" [routerLink]="['Home-page']"><img *ngIf="!partner" src="{{image}}"  alt="Football Logo"/></a>
      </div>

      <!-- BELOW768 and ABOVE768 NOT PERMANENT PLEASE RECODE TO BOOTSTRAP -->
      <div class="below768 footer-top-container col-xs-6 col-md-2">
        <ul class="footer-share">
          <a href="{{_siteFacebookUrl}}" target="_blank"><li class="share" id="share-facebook"><i class="fa fa-facebook"></i></li></a>
          <a href="{{_siteTwitterUrl}}" target="_blank"><li class="share" id="share-twitter"><i class="fa fa-twitter"></i></li></a>
        </ul>
      </div>

      <section class="footer-main col-xs-12 col-md-8">
        <div class="footer-dropDown">
          <dropdown-directory *ngIf="teamDirectoryListings" [heading]="'Team Listings'">
            <li *ngFor="let link of teamDirectoryListings">
              <a *ngIf="link.active" [routerLink]='link.route'>{{link.text}}</a>
            </li>
          </dropdown-directory>
          <dropdown-directory *ngIf="playerDirectoryListings" [heading]="'Player Listings'">
            <li *ngFor="let link of playerDirectoryListings">
              <a *ngIf="link.active" [routerLink]='link.route'>{{link.text}}</a>
            </li>
          </dropdown-directory>
        </div>
        <ul>
        <li class="footer-text1"><a [routerLink]="['Home-page']"><b>{{pageName}}</b></a></li>
        </ul>
        <ul>
          <li><a [routerLink]="['Contact-us-page']">{{advertise}}</a> <i class="fa fa-caret-right"></i></li>
          <li><a [routerLink]="['About-us-page']">{{au}}</a><i>|</i></li>
          <li><a [routerLink]="['Contact-us-page']">{{contactUs}}</a><i>|</i></li>
          <li><a [routerLink]="['Disclaimer-page']">{{disc}}</a></li>
        </ul>
        <div class="footer-main-cit row">
          <p class="footer-main-citation" [innerHTML]="_copyrightInfo"></p><i class="footer-main-cit-pipe">|</i>
          <p class="footer-main-citation"><i class="fa fa-copyright"></i>{{_lastUpdated}}</p>
        </div>
      </section>


      <div class="above768 footer-top-container col-xs-6 col-md-2">
        <ul class="footer-share">
          <a href="{{_siteFacebookUrl}}" target="_blank"><li class="share" id="share-facebook"><i class="fa fa-facebook"></i></li></a>
          <a href="{{_siteTwitterUrl}}" target="_blank"><li class="share" id="share-twitter"><i class="fa fa-twitter"></i></li></a>
        </ul>
      </div>
    </section>
</footer>
