<sidekick-wrapper>
  <section class="page profile-container league-page" (window:scroll)="onScroll($event)">
    <div *ngIf="profileHeaderData">
      <loading-component *ngIf="!profileHeaderData && !hasError"></loading-component>
      <error-component *ngIf="hasError"></error-component>

      <div *ngIf="profileHeaderData">
        <div class="loadBatch1" *ngIf="batchLoadIndex >= 1">
          <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
          <articles-module *ngIf="headlineData" [headlineData]="headlineData" [isLeague]="true"></articles-module>
        </div> <!--loadBatch1-->

        <div class="loadBatch2" *ngIf="batchLoadIndex >= 2">
          <video-module *ngIf="videoData" [firstVideo]="firstVideo" [videoData]="videoData" [profileHeader]="profileHeaderData" [isProfilePage]="isProfilePage"></video-module>
          <box-scores
            *ngIf="dateParam"
            [boxScores]="currentBoxScores"
            [calendarParams]="dateParam"
            (dateEmit)="getBoxScores($event)"></box-scores>
          <responsive-widget *ngIf="dateParam" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
          <schedules
            *ngIf="schedulesData"
            [profHeader]="profileHeaderData"
            [data]="schedulesData"
            [footerParams]="scheduleParams"
            [filter1]="scheduleFilter1"
            [filter2]="scheduleFilter2"
            [dropdownKey1]="selectedFilter1"
            [dropdownKey2]="selectedFilter2"
            [storedPartnerParam]="storedPartnerParam"
            (tabSelected)="scheduleTab($event)"
            (selectedKeyFilter)="filterDropdown($event)">
          </schedules>
          <responsive-widget *ngIf="schedulesData" [embedPlace]="widgetPlace" [displayAtRes]="'1024'"></responsive-widget>
        </div> <!--loadBatch2-->

        <div class="loadBatch3" *ngIf="batchLoadIndex >= 3">
          <standings-module
            [data]="standingsData"
            [storedPartnerParam]="storedPartnerParam"
            (tabSelected)="standingsTabSelected($event)"
            (filterSelected)="standingsFilterSelected($event)" [scope]="scope">
          </standings-module>
          <responsive-widget *ngIf="standingsData" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
          <transactions-module
            *ngIf="scope == 'nfl' && transactionsData"
            [data]="transactionsData"
            [transactionModuleFooterParams]="transactionModuleFooterParams"
            [transactionFilter1]="transactionFilter1"
            [dropdownKey1]="dropdownKey1"
            (tabSwitched)="transactionsTab($event)"
            (transactionKeyFilter)="transactionsFilterDropdown($event)">
          </transactions-module>
          <draft-history-module
            *ngIf="scope == 'nfl' && profileData && pageParams"
            [profileData]="profileData"
            [storedPartnerParam]="storedPartnerParam"
            [footerData]="pageParams">
          </draft-history-module>
          <responsive-widget *ngIf="scope == sportLeagueAbbrv && transactionsData" [embedPlace]="widgetPlace"></responsive-widget>
        </div> <!--loadBatch3-->

        <div class="loadBatch4" *ngIf="batchLoadIndex >= 4">
          <mvp-module
            *ngIf="positionData && positionParams"
            [collegeDivisionAbbrv]="collegeDivisionAbbrv"
            [collegeDivisionFullAbbrv]="collegeDivisionFullAbbrv"
            [positionNameDisplay]="positionNameDisplay"
            [title]="'Position'"
            [mvpData]="positionData"
            [query]="positionParams"
            [filter1]="filter1"
            [storedPartnerParam]="storedPartnerParam"
            (tabSelectedListener)="positionDropdown($event)"
            (dropdownPositionSelection)="positionDropdown($event)"></mvp-module>
          <responsive-widget *ngIf="positionData && positionParams" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
          <comparison-module
            [modelData]="comparisonModuleData"
            [profileName]="profileHeaderData.profileName"
            [scope]="scope"></comparison-module>
          <responsive-widget *ngIf="comparisonModuleData" [embedPlace]="widgetPlace" [displayAtRes]="'1024'"></responsive-widget>
          <div class="profile-carousel-container">
            <images-media-carousel [imageData]="imageData" [copyright]="copyright" [imageTitle]="imageTitle" [profHeader]="profileHeaderData" [isProfilePage]="isProfilePage"></images-media-carousel>
          </div>
        </div> <!--loadBatch4-->

        <div class="loadBatch5" *ngIf="batchLoadIndex >= 5">
          <responsive-widget *ngIf="imageData" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
          <dyk-module *ngIf="dykData" [profileName]="profileHeaderData.profileName" [dykData]="dykData"></dyk-module>
          <faq-module *ngIf="faqData" [profileName]="profileHeaderData.profileName" [faqData]="faqData"></faq-module>
          <responsive-widget *ngIf="faqData" [embedPlace]="widgetPlace"></responsive-widget>
          <list-of-lists
            *ngIf="listOfListsData"
            [profileHeaderData]="profileHeaderData"
            [listOfListsData]="listOfListsData"
            [profileType]="profileType"
            [scope]="scope"
            [storedPartnerParam]="storedPartnerParam">
          </list-of-lists>
        </div> <!--loadBatch5-->

        <div class="loadBatch6" *ngIf="batchLoadIndex >= 6">
          <news-module *ngIf="newsDataArray" [newsDataArray]="newsDataArray" [profileName]="profileHeaderData.profileName"></news-module>
          <responsive-widget *ngIf="newsDataArray" [embedPlace]="widgetPlace" [displayAtRes]="'640'"></responsive-widget>
          <!-- <headline-component [title]="'Interact With MLB\'s Fans'"></headline-component> -->
          <twitter-module *ngIf="twitterData" [profileName]="profileHeaderData.profileName" [twitterData]="twitterData"></twitter-module>
          <responsive-widget *ngIf="twitterData" [embedPlace]="widgetPlace" [displayAtRes]="'1024'"></responsive-widget>
          <!--Like Us On FB Module, only display if not on partner page-->
          <section *ngIf="!partnerID">
            <comment-module [profileName]="profileHeaderData.profileName"></comment-module>
          </section>
        </div> <!--loadBatch6-->
      </div> <!--profileHeaderData-->
    </div> <!--profileHeaderData-->
  </section> <!--profile-container-->
</sidekick-wrapper>
